body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.main__container {
  background-color: blueviolet;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}
.center__container {
  background-color: rgb(45, 20, 69);
  color: white;
  padding: 5em 3em 3em;
  max-width: 600px;
  height: 60vh;
  width: 100%;
  margin: 0 1em;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.input__container {
  background-color: transparent;
  border: 1px solid blueviolet;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
  border-radius: 0.5em;
  padding: 0.2em;
}
.input__container input {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  width: 80%;
  padding: 1em;
  font-size: 1em;
}
.input__container input::placeholder {
  color: rgb(159, 159, 159);
}

.task__btn {
  color: white;
  background-color: blueviolet;
  font-size: 1em;
  padding: 0.5em 1em;

  cursor: pointer;
  border-radius: 0.5em;
  border: none;
}
.task__btn:hover {
  background-color: rgb(117, 33, 195);
}
.input__container__heading {
  font-size: 2.5em;
  font-weight: bolder;
}
.content__container {
  width: 100%;
}
.task__entry {
  background-color: blueviolet;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}
.task__entry__text {
  display: flex;
  flex: 1;
}
.task__entry__edit {
  margin: 0 1em;
  cursor: pointer;
}

.task__entry__delete {
  cursor: pointer;
}
.task__entry__edit:hover {
  color: rgb(181, 181, 181);
}
.task__entry__delete:hover {
  color: rgb(181, 181, 181);
}
